<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Job Search</title>
    <link rel="stylesheet" href="static/style.css">
    
</head>
<body>

<div class="container">
    <h1>Job Search</h1>
    <div class="form-group">
        <input type="text" id="tech-stack" placeholder="Enter tech stack (e.g., Python, Java)" />
        <button id="search-btn">Search</button>
    </div>
    <div class="job-list" id="job-list"></div>
    <div class="pagination" id="pagination" style="display: none;">
    </div>
</div>

    <script src="static/script.js"></script>

</body>
</html>



